<!-- sidebar start -->

<ul>
        <li class="active">
                <a class="ti_big" href="javascript:return;">
                    黄蓝带使用说明
                </a>
            </li>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                <a class="ti_big" href="javascript:;" onclick="window.filters(this);">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                    <i class="icon-r_sj"></i>
                </a>
                <ul class="sub-menu nav" {{ if $currentPage.HasMenuCurrent "main" . }}style="display:block"{{else}}style="display:none"{{ end }}>
                    {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </li>
            
        {{ else }}
            <li >
                <a class="ti_big" href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                    <i class="icon-r_sj"></i>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
<script>
    function filters(intag) {
        if (intag.tagName == "A" || intag.tagName == "a") {
            var taga = intag.parentNode;
            var present = taga.getElementsByTagName("ul")[0];
            if(!present){return;}
            if (present.style.display == "block" || present.style.display == "") {
                //help(taga);
                present.style.display = "none";
            } else {
                //help(taga);
                present.style.display = "block";
            }
        }
        return false;
    }
</script>